<footer class="site-footer">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <p class="site-slogan">steigender Preis = steigende Qualität!</p>
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ site.t[page.lang].language }}</a> {%- if forloop.index == 1 -%}
       &nbsp;/
    {%- endif -%}
    {% endfor %}
    <h3>
      Menu:
    </h3>
    <ul>
      {% for menu in site.t[page.lang].menu %}
      <li class="site-footer-menu__item{% if menu[1].url == page.url %} site-footer-menu__item--active{% endif %}">
        <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
      </li>
      {% endfor %}
    </ul>
    <p class="footer--copyright">
      &copy; {{ 'now' | date: "%Y" }} The Law of Quality
    </p>
</footer>
