<div class="founders-slider">
  <h3>{{ site.data.translations[page.lang].founders | "founders" }}</h3>
  {%- assign foundersLength = site.data.founders.size - 1 -%}
  <div class="main-carousel" data-flickity='{ "imagesLoaded": true, "cellAlign": "center", "contain": false, "freeScroll": false, "prevNextButtons": true,
  "pageDots": false, "initialIndex": {{site.data.founders.size | minus: 1}}}'>
  {%- for founder in site.data.founders -%}
  <div class="carousel-cell founder-slide">
      <p class="founder-slide__number">#{{forloop.index}}</p>
      <div class="founder-slide__info">
        <p class="founder-slide__name">{{founder.name}}</p>
        {%- if founder.occupation -%}
          <p class="founder-slide__occupation">{{founder.occupation}}</p>
        {%- endif -%}
        {%- if founder.location -%}
          <p class="founder-slide__location">{{founder.location}}</p>
        {%- endif -%}
        <p class="founder-slide__amount">{{site.data.translations[page.lang].paid}}: ${{ founder.amt }}</p>
        <p class="founder-slide__erhalten">{{site.data.translations[page.lang].erhalten}}: ${{ founder.erhalten }} </p>
        <p class="founder-slide__rendite">{{site.data.translations[page.lang].rendite}}: ${{ founder.rendite }}!</p>
      </div>
        {%- for image in founder.images -%}
        <img src="/assets/img/founders/{{image}}" alt="{{founder.name}}">
        {%- endfor -%}
  </div>
  {%- endfor -%}
</div>
</div>

