
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  
    <header class="headroom animated">
  {% include text-logo.html %}
      {% if page_paths %}
      <nav class="site-nav">


        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <div id="nav-icon4">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </label>
        
        <div class="trigger">
                <div class="lang-selector">
                  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                  {% for page in pages %}
                  <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a> {%- if forloop.index == 1 -%}
                     &nbsp;
                  {%- endif -%}
                  {% endfor %}
                </div>
                
            
                <div class="header--menu">
                  <div class="header--menu-col header--menu-col1">
                    {% for menu in site.data.translations[page.lang].menu limit: 3 %}
                    <p class="header--menu__item{% if menu[1].url == page.url %} header--menu__item--active{% endif %}">
                      <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
                    </p>
                    {% endfor %}
                  </div>
            
                  <div class="header--menu-col header--menu-col2">
                    {% for menu in site.data.translations[page.lang].menu limit: 3 offset: 3 %}
                    <p class="header--menu__item{% if menu[1].url == page.url %} header--menu__item--active{% endif %}">
                      <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
                    </p>
                    {% endfor %}
                  </div>
                  <div class="header--menu-col header--menu-col3">
                    {% for menu in site.data.translations[page.lang].menu limit: 3 offset: 6 %}
                    <p class="header--menu__item{% if menu[1].url == page.url %} header--menu__item--active{% endif %}">
                      <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
                    </p>
                    {% endfor %}
                  </div>
                </div>
          </div>
          
          
        </nav>
        {% endif %}
      </header>