
    <!-- {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% assign posts=site.posts | where:"lang", page.lang %} -->
  
    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
        <div id="nav-icon4">
          <span></span>
          <span></span>
          <span></span>
        </div>
        </label>

        <div class="trigger">
    {% assign posts=site.pages | where:"lang", page.lang %}
    <ul>
      <li>lang:</li>
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
        <li>
          <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
        </li>
        {% endfor %}
      {% for post in posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
        </div>

      
      </nav>
    {% endif %}




<script>
  var el = document.querySelector('#nav-icon4');
  var body = document.querySelector('body');

  el.onclick = function () {
    el.classList.toggle('open');
    body.classList.toggle('menu-open');
  }
</script>