<div class="signature">
    <div class="signature--row">
        <div class="signature--cell">
            {{site.data.translations[page.lang].place-date}}
        </div>
        <div class="signature--cell">
            {{site.data.translations[page.lang].place-date}}
        </div>
    </div>
    <div class="signature--row">
        <div class="signature--cell">
            {{site.data.translations[page.lang].name-firstname}}
        </div>
        <div class="signature--cell">
            Patrick Frank, {{site.data.translations[page.lang].quality-artist]}}
        </div>
    </div>
</div>