.animated.slideDown {
    transform:none;
}

.headroom {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    padding: var(--l-body-padding);

    .home & {
      top: var(--ticker-height);
    }
}

.animated {
    will-change: transform;
    transition: .4s transform;
}

.animated.slideUp {
    transform: translateY(-200%);
}