$duration: 30s;
:root {
    --logo-width: calc(7.5rem * 2);
    --logo-height: calc(6.48rem * 2);
}

@include media-query($on-palm) {
    :root {
        --logo-width: 7.5rem;
        --logo-height: 6.48rem;
    }
}

.en:lang(en),
.de:lang(de) {
    font-weight: 700;
}

h1,
.heading {
    // font-family: 'Alegreya', serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--alt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

body.home {
    background: url(/assets/img/goldleaf.jpg);
    background: var(--background-color);
    padding: 0;
}

body.menu-open {
    position: fixed;
}

.home-content {
    background-color: var(--content-background-color);
    padding: 4vw; // border: 6vw solid var(--content-background-color);
    // border-left: 4vw solid var(--content-background-color);
    // border-right: 4vw solid var(--content-background-color);
    position: relative;
    box-shadow: 0 0 5vw rgba(black, .1);
    &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; // border: 10px solid var(--logo-color);
    }
}

body.home>.site-footer {
    padding-bottom: 4rem;
}

.partitur-frame {
    transform: rotate(3.5deg);
    box-shadow: 0 4px 40px rgba(black, .2);
    margin-top: -5vw;
    margin-bottom: 5vw;
    border: 10px solid var(--hover-color);
}

.logo {
    // background: var(--content-background-color);
    // 750 x 648
    width: var(--logo-width);
    height: var(--logo-height); // padding: 2rem;
    // margin: 0 auto;
    // margin-top: -10vw;
    position: fixed;
    left: 3rem;
    top: 3rem;
    transition: fill .2s;
    &:hover {
        fill: var(--hover-color);
    }
}

.to-do {
    background: red;
    color: white;
}

.site-header {
    padding: .5rem 1rem;
}

.transaction--succeeded:after {
    content: 'Erfolgt';
    background-color: #17c37b;
    color: white;
    padding: 0 .25rem;
    margin-left: .5rem;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(rgb(246, 74, 0), 0.9);
    padding-left: 100%;
    box-sizing: content-box;
    .ticker {
        display: inline-block;
        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: $duration;
        animation-duration: $duration;
        &__item {
            display: inline-block;
            padding: 0 2rem;
            font-size: 2rem;
            color: white;
        }
    }
}

.site-footer {
    background-color: #eee;
    border: none;
    padding: $spacing-unit;
}

.logo-cutout {
    width: 100%;
    clip-path: url(#logoClipPath);
}

// nav
#nav-icon4 {
    width: 60px;
    height: 45px;
    top: 3rem;
    right: 3rem;
    position: fixed;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
    &:hover {
        span {
            background: var(--hover-color);
        }
    }
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--logo-color); // border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open {
    // right: 4vw;
}

#nav-icon4.open span {
    background-color: #fff;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

// flash
.flash1 {
    width: 30vw;
    height: 26vw;
    max-width: 500px;
    left: 50%;
    margin-left: -15vw;
    position: relative;
    top: -4vw;
}