$duration: 30s;
:root {
    --logo-width: calc(7.5rem * 2);
    --logo-height: calc(6.48rem * 2);
    --body-padding: 3rem;
}

@include media-query($on-palm) {
    :root {
        --logo-width: 7.5rem;
        --logo-height: 6.48rem;
        --body-padding: 1rem;
    }
}

.en:lang(en),
.de:lang(de) {
    font-weight: 700;
}

h1,
.heading {
    // font-family: 'Alegreya', serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--alt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1,
h2 {
    text-align: center;
}

h3,
h4,
h5 {
    max-width: var(--l-max-width, 800px);
    margin: 0 auto;
}

p:not(.full-width),
ul,
ol {
    max-width: var(--l-max-width, 800px);
    margin: 0 auto;
    margin-bottom: $spacing-unit;
}

img {
    margin: 0 auto;
}

body {
    background-color: var(--c-background);
    padding-top: 14rem;
    @include media-query($on-palm) {
        padding-top: 8rem;
    }
}

body.menu-open {
    position: fixed;
}

body.home>.footer {
    padding-bottom: 4rem;
}

body.home {
    padding-top: 2rem;
    @include media-query($on-palm) {
        padding-top: 8rem;
    }
}

main {
    padding: 0 1rem 2rem 1rem;
}

.content-column {
    max-width: var(--l-max-width);
    margin: 0 auto;
}

.partitur-frame {
    box-shadow: 0 4px 40px var(--c-frame);
    margin-top: -3vw;
    border: 10px solid var(--c-frame);
    position: relative;
}

.logo {
    // 750 x 648
    width: var(--logo-width);
    height: var(--logo-height); // padding: 2rem;
    // position: fixed;
    left: var(--body-padding);
    top: var(--body-padding);
    transition: fill .2s;
    &:hover {
        fill: var(--hover-color);
    }
}

$logo_min_width: 320px;
$logo_max_width: 1200px;
$logo_min_font: 20px;
$logo_max_font: 48px;
.text-logo {
    @include fluid-type($logo_min_width, $logo_max_width, $logo_min_font, $logo_max_font);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.page-title {
    color: var(--c-light-gray, #ccc)
}

.to-do {
    background: red;
    color: white;
}

.site-header {
    padding: .5rem 1rem;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: var(--c-fun);
    padding-left: 100%;
    box-sizing: content-box;
    .ticker {
        display: inline-block;
        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: $duration;
        animation-duration: $duration;
        &__item {
            display: inline-block;
            padding: 0 2rem;
            font-size: 2rem;
            color: white;
        }
    }
}

.footer,
.header {
  background-color: #eee;
  border: none;
  padding: $spacing-unit;
  &-menu {
      &__item {
          &--active {
              font-weight: 700;
          }
      }
  }
  
  h2 {
    font-size: 1.8rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
  }
  
  .site-slogan {
    text-align: center;
    margin-bottom: 0;
  }
  

    &--copyright {
      text-align: center;
      color: var(--c-gray);
  }

  &--menu {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 2rem;

    &-col {
      width: calc(100%/3);
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

      p {
        margin-bottom: 1rem;
      }
    }

    &__item {
      a {
        font-weight: 400;
      }
    }

    &__item--active {
      a {
        font-weight: 700;
        pointer-events: none;
      }
    }
  }
}

.lang-selector {
  text-align: center;

  a {
    font-size: 2rem;
  }
}

.logo-cutout {
    width: 100%;
    clip-path: url(#logoClipPath);
}

// nav
#nav-icon4 {
    width: 36px;
    height: 45px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
    &:hover {
        span {
            background: var(--hover-color);
        }
    }
}

#nav-icon4 span {
    display: block;
    position: fixed;
    height: 6px;
    width: 100%;
    background: var(--c-logo);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open {
    // right: 4vw;
    margin-left: -16px;
}

#nav-icon4.open span {
    background-color: var(--c-logo);
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 3px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    left: 3px;
} // flash
.flash1 {
    width: 30vw;
    height: 26vw;
    max-width: 500px;
    position: relative;
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
}

.flash2, 
.flash3 {
    width: 30vw;
    height: 26vw;
    max-width: 500px;
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    position: absolute;
    left: 5vw;
    top: 15vw;
    @include media-query($on-palm) {
        position: relative;
        top: 0;
        left: 0;
    }
    text {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.flash3 {
  left: 50vw;
  top: 15vw;
}

.transactions {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem;
    background-color: var(--c-smoke);
    display: grid;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    &>h3 {
        text-align: left;
        max-width: none;
        margin: 0;
        margin-bottom: 2rem;
    }
}

.transaction {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid var(--c-gray);
    padding: .25rem 0;
    &--index {
        color: var(--c-gray)
    }
    &--amount {
        font-weight: 700;
    }
    &--success {
        background-color: var(--c-success);
        color: white;
        padding: 0 .25rem;
        margin-left: .5rem;
    }
    &.transactions--header {
        border-bottom-width: 2px;
        font-weight: 700;
        color: var(--c-gray);
    }
} // fluid video
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 2rem;
    width: 100%;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.partitur {
    overflow-x: auto;
    display: flex;
    width: 100%;
    justify-content: grid-start;
    flex-flow: row nowrap;
    box-shadow: inset 5px rbga(black, .2);
    &__page {
        padding: .5rem;
    }
}

.carousel-cell {
    padding: 2rem;
    img {
        box-shadow: 0 10px 24px rgba(black, .15);
    }
}

.download-link {
    max-width: var(--l-max-width);
    &__icon svg {
        width: 2rem;
        height: 2rem;
    }
}

.score {
    background-color: var(--c-smoke);
    margin: 0 -1rem;
    padding: 2rem 0;
}

.founder-slide {
    &__number {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        display: grid;
        justify-content: center;
        padding: .5rem;
        box-sizing: border-box;
        background-color: var(--flash--a);
        z-index: 100;
        font-weight: 700;
    }
    &__info {
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 50%;
        margin-left: -25%;
        padding: 1rem;
        background-color: var(--flash--a, orange);
        p {
            line-height: 1;
            margin: 0;
        }
    }
    &__name {
        font-weight: 700;
    }
}