/**
 * Site header
 */

.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865; // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25; // letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    line-height: $base-line-height * $base-font-size * 2.25;
    z-index: 100;
    .nav-trigger {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height; // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    } // @include media-query($on-palm) {
    position: absolute;
    top: var(--l-body-padding);
    right: var(--l-body-padding); // background-color: $background-color;
    // border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }
    .menu-icon {
        display: block;
        float: right;
        width: 40px;
        height: 40px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        >svg path {
            fill: $grey-color-dark;
        }
    }
    input~.trigger {
        clear: both;
        display: none;
    }
    input:checked~.trigger {
        display: block;
        padding-bottom: 5px;
        background-color: var(--c-menu);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        overflow-y: scroll;
        padding: var(--body-padding, 2rem);
        box-sizing: border-box;
        height: 100vh;
        padding-top: 5rem;
        ul {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            list-style: none;
            li {
                &.active {
                    font-weight: 700;
                }
            }
        }
    }
    .page-link {
        display: block;
        padding: 5px 10px;
        &:not(:last-child) {
            margin-right: 0;
        }
        margin-left: 20px;
    }
    @include media-query($on-palm) {
        position: relative;
        right: auto;
        text-align: center;

        label[for="nav-trigger"] {
            float: none;
            margin: 0 auto;
            margin-top: .55rem;
        }

      }

  .home & {
    top: .5rem;
  }
}
.menu-open .site-nav {
  position: absolute;
  left: 0;
  right: 0;
}

/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    @include relative-font-size(1.25);
}

.post-list {
    margin-left: 0;
    list-style: none;
    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    @include relative-font-size(2.625); // letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }
}

.post-content {
    // margin-bottom: $spacing-unit;
    h2 {
        @include relative-font-size(2);
        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }
    }
    h3 {
        @include relative-font-size(1.625);
        @include media-query($on-laptop) {
            @include relative-font-size(1.375);
        }
    }
    h4 {
        @include relative-font-size(1.25);
        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }
    }
}